
.about {
    text-align: center;
    padding: 40px;
    padding-bottom: 60px;
    background-color: rgb(245, 231, 231);
}
#aboutpics {
    width: 100%;
    height: 480px;
    z-index: -1;
    margin-top: 68px;
}
.mission {
   border-top: 2px solid brown;
}
.mission h3 {
    margin-top: 30px; 
}
.about h3 {
    text-align: center;
    font-weight: bold;
}
.about p {
    margin: 30px 0;
    text-align: left;
    font-size: larger;
}
@media (min-width: 769px){
    .about {
        padding: 60px;
    }
    .about h3 {
        font-size: 30px;
    }
    .about p {
        margin: auto;
        text-align: center;
        font-size: larger;
        width: 70%;
        padding: 40px;
    }
}