#give-pics {
    width: 100%;
    height: 480px;
    z-index: -1;
}
.giving-pics h3 {
    position: absolute;
    top: 230px;
    left: 35%;
    font-size: 40px;
    color: rgb(93, 140, 241);
    font-family: 'Berkshire Swash', cursive;
    font-weight: bolder;
}
.scripture {
    background-color: rgb(224, 207, 207);
    font-size: 24px;
    text-align: center;
    margin-top: -5px;
}
.scripture .verse p {
    font-style: italic;
    font-size: 20px;
    width: 60%;
    margin: auto;
    padding: 30px 0;
}
.scripture span {
    color:  rgb(93, 140, 241);
    font-size: 20px;
    font-style: italic;
}
.bank {
    background-color: rgb(245, 231, 231);
    text-align: left;
    padding: 40px;
    font-size: 20px;
}
.account {
    margin-top: 30px;
}
.account p{
    margin-top: 20px;
}

